    {% extends "layout/basic.html" %}

{% block content %}
    <h2>Последние 10 объявлений</h2>

    {% if bbs %}
        <ul>
            {% for bb in bbs %}
                <li>
                    <a href="{% url 'main:profile_bb_detail' pk=bb.pk %}">{{ bb.title }}</a>
                    <p>{{ bb.description }}</p>
                    <p>Цена: {{ bb.price }}</p>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет активных объявлений.</p>
    {% endif %}
{% endblock %}
